{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" method="POST">
    <div class="form-group" id="fos_user_registration_form">

        <div class="input-field">
            {{ form_widget(form.email, { 'attr': {'placeholder': 'email'|trans } }) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="input-field">
            {{ form_widget(form.username, { 'attr': {'placeholder': 'username'|trans } }) }}
            {{ form_errors(form.username) }}
        </div>

        <div class="input-field">
            {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'password'|trans } }) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="input-field">
            {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'password_confirmation'|trans } }) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>

        <div class="input-field">
            {{ form_rest(form) }}
        </div>
    </div>

    <button class="red accent-2 btn waves-effect waves-light" type="submit">
        Register
    </button>
</form>
