{% extends 'common/connected.html.twig' %}

{% block body %}
    <h3>{{ subject.name }}</h3>

    {% if studentList|length == 0 %}
        No student suscribed to this project.
    {% endif %}
    {% for student in studentList %}
        <div class="section" >
            <h2 class="row" >
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="ticket_title red-text text-darken-1" href="{{ path('user_show', { 'id': student.id }) }}">
                        {{ student.username }}
                    </a>
                {% else %}
                    <span class="ticket_title red-text text-darken-1">
                        {{ student.username }}
                    </span>
                {% endif %}
            </h2>
            {% if role == 'admin' %}
                {% include 'views/grade/showCollection.html.twig' with {'gradeArray' : student.grades} %}
            {% endif %}
        </div>
        <div class="row">
            <a class="col s3 offset-s1 red accent-2 btn waves-effect waves-light"
               href="{{ path('new_grade_from_subject_and_student', {'student_id': student.id, 'subject_id': subject.id}) }}">
                Create a grade
            </a>
        </div>
        <div class="divider"></div>
    {% endfor %}
{% endblock %}